                                               /*////////////////////////////////////////////////
//
// Mixins
//
////////////////////////////////////////////////*/
                                               /*////////////////////////////////////////////////
//
// Variables
//
////////////////////////////////////////////////*/
html, body {
  background: #EEE; }

html, button, input, select, textarea,
.pure-g [class*="pure-u"],
.pure-g-r [class*="pure-u"] {
  font-family: "Lato", sans-serif;
  color: #46484a;
  line-height: 1.4;
  position: relative; }

h1, h2, h3, p, li, a, .pure-button {
  margin: 0;
  color: #46484a;
  font-weight: 400; }
  h1 strong, h2 strong, h3 strong, p strong, li strong, a strong, .pure-button strong {
    font-weight: 700; }

h1 {
  font-size: 3.75em;
  font-weight: 700;
  color: #FFF; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 1.875em; }

h4 {
  font-size: 1.625em;
  font-weight: 300; }

p, li {
  font-size: 1em; }

em {
  font-style: italic; }

img {
  display: block; }

.pure-button {
  border: none;
  box-shadow: none; }
  .pure-button:focus, .pure-button:hover, .pure-button:active {
    border: none;
    box-shadow: none; }

.default-button {
  position: relative;
  font-weight: 400;
  padding: 0.75em 2em;
  white-space: normal;
  background: #1699e3;
  border-radius: 1000px;
  font-size: 1.25em;
  color: #FFF;
  text-transform: uppercase; }
  .default-button strong {
    font-weight: 700; }

.button-nav,
#hamburger-icon {
  font-size: 1em;
  font-weight: 400;
  padding: 0 1em;
  line-height: 3em;
  margin: 0;
  color: #46484a;
  background: transparent; }
  .button-nav strong,
  #hamburger-icon strong {
    font-weight: 700; }
  .button-nav:focus, .button-nav:active, .button-nav:hover,
  #hamburger-icon:focus,
  #hamburger-icon:active,
  #hamburger-icon:hover {
    background: transparent; }

#hamburger-icon {
  position: relative;
  float: right;
  top: 6px;
  display: none;
  font-family: "SS Standard";
  line-height: 3em;
  font-size: 2em;
  font-style: normal; }

.section {
  position: relative;
  zoom: 1;
  width: 100%; }

.container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 1em;
  max-width: 90em;
  text-align: center; }

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 90 ")";
  filter: alpha(opacity=90);
  zoom: 1; }

.side-by-side {
  height: 31.25em; }

.side-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.section-image {
  position: relative; }

.section-text {
  position: relative; }

#navigation {
  border: none;
  padding: 1em 0;
  z-index: 100;
  overflow: visible; }
  #navigation a {
    color: #46484a; }

#user-logo {
  width: auto;
  height: 3em;
  float: left;
  max-width: 15em; }

#navigation-items {
  position: relative;
  float: right; }

#jumbotron {
  padding: 3em 0; }
  #jumbotron h1, #jumbotron h4 {
    color: #FFF; }
  #jumbotron .color-overlay {
    background: #2e3840;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 80 ")";
    filter: alpha(opacity=80);
    zoom: 1; }

#environment {
  background: #7fb22e; }
  #environment p {
    color: #FFF; }
  #environment .color-overlay {
    background: #7fb22e; }
  #environment .uncovered-image .side-image {
    background-image: url("../img/ping_pong.jpg"); }
  #environment .covered-image .side-image {
    background-image: url("../img/controller.jpg"); }

#workspace {
  background: #e7b122; }
  #workspace p {
    color: #FFF; }
  #workspace .color-overlay {
    background: #e7b122; }
  #workspace .uncovered-image .side-image {
    background-image: url("../img/workspace.jpg"); }
  #workspace .covered-image .side-image {
    background-image: url("../img/workspace_zoom.jpg"); }

#location {
  background: #dc401c; }
  #location p {
    color: #FFF; }
  #location .color-overlay {
    background: #dc401c; }
  #location .uncovered-image .side-image {
    background-image: url("../img/controller.jpg"); }
  #location .covered-image .side-image {
    background-image: url("../img/controller.jpg"); }

#pitch {
  background: #2e3840; }
  #pitch p {
    color: #FFF; }
  #pitch .color-overlay {
    background: #2e3840; }
  #pitch .uncovered-image .side-image {
    background-image: url("../img/controller.jpg"); }
  #pitch .covered-image .side-image {
    background-image: url("../img/controller.jpg"); }

@media (max-width: 767px) {
  h1 {
    font-size: 2.25em; }

  h4 {
    font-size: 1.25em; }

  .button-default {
    padding: 1em;
    display: block; }

  .button-nav {
    width: 100%;
    padding: 1em 0;
    margin-top: 1em;
    line-height: normal; }

  #hamburger-icon {
    display: block;
    padding: 0;
    line-height: normal; }

  #navigation-items {
    width: 100%; } }
.hidden {
  display: none; }
