/*////////////////////////////////////////////////
//
// Mixins
//
////////////////////////////////////////////////*/
@mixin opacity($value: 0.5) {
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" $value * 100 ")";
  filter: alpha(opacity=$value * 100);
  zoom: 1;
}

@mixin inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

@mixin pointer-cursor {
  cursor: pointer;
  *cursor: hand;
  zoom: 1;
}

@mixin full-size {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


/*////////////////////////////////////////////////
//
// Variables
//
////////////////////////////////////////////////*/

// Sam's Colors
$bitchin-blue:            #1699E3;
$dude-dark-blue:          #2E3840;
$gnarly-green:            #7FB22E;
$yeah-bro-yellow:         #E7B122;
$radical-red:             #DC401C;
$grom-grey:               #F4F4F4;
$tubular-text:            #46484A;
$light-grey:              #B0B0B0;

// Typography
$sans-serif:              "Lato", sans-serif;
$icon-font:               "SS Standard";
$color-default:           $tubular-text;

// Layout
$container-width:         64em;
$text-container-width:    40em;


// Navigation
$nav-height:              3em;
$nav-padding:             1em;
$nav-button-color:        transparent;
$nav-item-color:          $tubular-text;

// Styling
$overlay-opacity:         0.9;
$button-border-radius:    1000px;


//////////////////////////////////////////////////
//
// Typography
//
//////////////////////////////////////////////////
html, body { background: #EEE; }

html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  font-family: $sans-serif;
  color: $color-default;
  line-height: 1.4;
  position: relative;
}

h1, h2, h3, p, li, a, .pure-button {
  margin: 0;
  color: $color-default;
  font-weight: 400;
  strong { font-weight: 700; }
}

h1 {
  font-size: 3.75em; // 60
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
}

h2 {
  font-size: 2.25em; // 36
  font-weight: 300;
  color: #FFF;
  strong { font-weight: 700; }
}

h3 {
  font-size: 1.875em; // 30
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
}

h4 {
  font-size: 1.625em; // 26
  font-weight: 300;
}

p, li {
  font-size: 1.125em; // 18
  line-height: 1.7;
}

em { font-style: italic; }
img { display: block; }

.faux-hr {
  width: 30%;
  height: 1px;
  background-color: #FFF;
  margin: 2em 0;
}


//////////////////////////////////////////////////
//
// Buttons
//
//////////////////////////////////////////////////
.pure-button {
  border: none;
  box-shadow: none;
  &:focus, &:hover, &:active {
    border: none;
    box-shadow: none;
  }
}

.default-button {
  position: relative;
  font-weight: 400;
  padding: 0.75em 2em;
  white-space: normal;
  background: $bitchin-blue;
  border-radius: $button-border-radius;
  font-size: 1.25em;
  color: #FFF;
  text-transform: uppercase;
  strong { font-weight: 700; }
}

.button-nav,
#hamburger-icon {
  font-size: 1em;
  font-weight: 400;
  padding: 0 1em;
  line-height: $nav-height;
  margin: 0;
  color: $nav-item-color;
  background: $nav-button-color;
  strong { font-weight: 700; }
  &:focus, &:active, &:hover { background: $nav-button-color; }
}

#hamburger-icon {
  position: relative;
  float: right;
  top: 6px;
  display: none;
  font-family: $icon-font;
  line-height: $nav-height;
  font-size: 2em;
  font-style: normal;
}

#learn-more-button { margin-top: 2em; }


//////////////////////////////////////////////////
//
// Containers
//
//////////////////////////////////////////////////
.section {
  position: relative;
  zoom: 1;
  width: 100%;
}

.container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 1em;
  max-width: $container-width;
  text-align: center;
}

.section-text-container {
  max-width: $text-container-width;
  margin: 0 auto;
}

.color-overlay {
  @include full-size;
  @include opacity($overlay-opacity);
}

.side-by-side {
  height: 31.25em;
}

.text-horizontal-container {
  max-width: 32em;
  height: 100%;
  padding: 0 2em;
  position: relative;
  margin: 0 auto;
  display: table;
}

.text-vertical-container {
  display: table-cell;
  vertical-align: middle;
}

.image-container {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
}

.side-image {
  @include full-size;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


//////////////////////////////////////////////////
//
// Navigation
//
//////////////////////////////////////////////////
#navigation {
  border: none;
  padding: $nav-padding 0;
  z-index: 100;
  overflow: visible;
  a { color: $nav-item-color; }
}

#user-logo {
  width: auto;
  height: $nav-height;
  float: left;
  max-width: 15em;
}

#navigation-items {
  position: relative;
  float: right;
}


//////////////////////////////////////////////////
//
// Jumbotron
//
//////////////////////////////////////////////////
#jumbotron {
  padding: 12.5em 0;
  h1, h4 { color: #FFF; }
  .color-overlay {
    background: $dude-dark-blue;
    @include opacity(0.8);
  }
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: center center;
}


//////////////////////////////////////////////////
//
// Environment
//
//////////////////////////////////////////////////
#environment {
  background: $gnarly-green;
  p { color: #FFF; }
  .color-overlay { background: $gnarly-green; }
  .uncovered-image .side-image { background-image: url("../img/ping_pong.jpg"); }
  .covered-image .side-image { background-image: url("../img/controller.jpg"); }
}


//////////////////////////////////////////////////
//
// Workspace
//
//////////////////////////////////////////////////
#workspace {
  background: $yeah-bro-yellow;
  p { color: #FFF; }
  .color-overlay { background: $yeah-bro-yellow; }
  .uncovered-image .side-image { background-image: url("../img/workspace.jpg"); }
  .covered-image .side-image { background-image: url("../img/workspace_zoom.jpg"); }
}


//////////////////////////////////////////////////
//
// Location
//
//////////////////////////////////////////////////
#location {
  background: $radical-red;
  p { color: #FFF; }
  .color-overlay { background: $radical-red; }
  .uncovered-image .side-image { background-image: url("../img/map.png"); }
  .covered-image .side-image { background-image: url("../img/spectrum.jpg"); }
}


//////////////////////////////////////////////////
//
// Pitch
//
//////////////////////////////////////////////////
#pitch {
  background: $dude-dark-blue;
  p { color: #FFF; }
  .color-overlay { background: $dude-dark-blue; }
  .uncovered-image .side-image { background-image: url("../img/glasses.jpg"); }
  .covered-image .side-image { background-image: url("../img/pitch.jpg"); }
}


//////////////////////////////////////////////////
//
// Optin
//
//////////////////////////////////////////////////
#optin {
  background: #FFF;
  h2 { color: $tubular-text; }
  padding: 6em 0;
  form {
    text-align: center;
  }
  input {
    margin: 1em auto;
    display: block;
    width: 18em;
    padding: 1em;
    border-radius: $button-border-radius;
    border: 2px solid #EEE;
  }
}


//////////////////////////////////////////////////
//
// Media Queries
//
//////////////////////////////////////////////////
@media (min-width: 768px) and (max-width: 1199px) {
  .side-by-side {
    height: 20em;
  }

  .faux-hr { margin: 1em 0; }
  p { line-height: 1.4; }
}

@media (max-width: 767px) {

  h1 { font-size: 2.25em; }
  h4 { font-size: 1.25em; }

  .text-horizontal-container { padding: 0 1em; }
  .faux-hr { margin: 1em 0; }
  p { font-size: 1em; line-height: 1.4; }

  #learn-more-button { margin-top: 1em; }

  .image-container {
    width: 100%;
    height: 50%;
  }

  .covered-image {
    top: 0;
    position: absolute;
  }

  .uncovered-image {
    top: 50%;
  }

  #jumbotron {
    padding: 6em 0;
  }

  .button-default {
    padding: 1em;
    display: block;
  }

  .button-nav {
    width: 100%;
    padding: 1em 0;
    margin-top: 1em;
    line-height: normal;
  }

  #hamburger-icon {
    display: block;
    padding: 0;
    line-height: normal;
  }

  #navigation-items {
    width: 100%;
  }

  .side-by-side {
    height: 40em;
  }
}


//////////////////////////////////////////////////
//
// Utilities
//
//////////////////////////////////////////////////
.hidden {
  display: none;
}