/*////////////////////////////////////////////////
//
// Mixins
//
////////////////////////////////////////////////*/
@mixin opacity($value: 0.5) {
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" $value * 100 ")";
  filter: alpha(opacity=$value * 100);
  zoom: 1;
}

@mixin inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

@mixin pointer-cursor {
  cursor: pointer;
  *cursor: hand;
  zoom: 1;
}


/*////////////////////////////////////////////////
//
// Variables
//
////////////////////////////////////////////////*/

// Sam's Colors
$bitchin-blue:            #1699E3;
$dude-dark-blue:          #2E3840;
$gnarly-green:            #7FB22E;
$yeah-bro-yellow:         #E7B122;
$radical-red:             #DC401C;
$grom-grey:               #F4F4F4;
$tubular-text:            #46484A;
$light-grey:              #B0B0B0;

// Typography
$sans-serif:              "Lato", sans-serif;
$icon-font:               "SS Standard";
$color-default:           $tubular-text;

// Layout
$container-width:         60em;

// Navigation
$nav-height:              3em;
$nav-padding:             1em;
$nav-button-color:        transparent;
$nav-item-color:          $tubular-text;

// Styling
$overlay-opacity:         0.8;
$button-border-radius:    1000px;


//////////////////////////////////////////////////
//
// Typography
//
//////////////////////////////////////////////////
html, body { background: #EEE; }

html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  font-family: $sans-serif;
  color: $color-default;
  line-height: 1.4;
}

h1, h2, h3, p, li, a, .pure-button {
  margin: 0;
  color: $color-default;
  font-weight: 400;
  strong { font-weight: 700; }
}

h1 { font-size: 3.75em; font-weight: 700; color: #FFF; } // 60
h2 { font-size: 2.25em; } // 36
h3 { font-size: 1.875em; } // 30
h4 { font-size: 1.625em; font-weight: 300; } // 26
p, li { font-size: 1em; } // 16
p { margin-bottom: 1.5em; }
li { margin-bottom: 0.5em; }
ul, ol {
  margin-bottom: 2em;
  text-align: left;
}
em { font-style: italic; }
img { display: block; }


//////////////////////////////////////////////////
//
// Buttons
//
//////////////////////////////////////////////////
.pure-button {
  border: none;
  box-shadow: none;
  &:focus, &:hover, &:active {
    border: none;
    box-shadow: none;
  }
}

.default-button {
  position: relative;
  font-weight: 400;
  padding: 0.75em 2em;
  white-space: normal;
  background: $bitchin-blue;
  border-radius: $button-border-radius;
  font-size: 1.25em;
  color: #FFF;
  text-transform: uppercase;
  strong { font-weight: 700; }
}

.button-nav,
#hamburger-icon {
  font-size: 1em;
  font-weight: 400;
  padding: 0 1em;
  line-height: $nav-height;
  margin: 0;
  color: $nav-item-color;
  background: $nav-button-color;
  strong { font-weight: 700; }
  &:focus, &:active, &:hover { background: $nav-button-color; }
}

#hamburger-icon {
  position: relative;
  float: right;
  top: 6px;
  display: none;
  font-family: $icon-font;
  line-height: $nav-height;
  font-size: 2em;
  font-style: normal;
}


//////////////////////////////////////////////////
//
// Containers
//
//////////////////////////////////////////////////
.section {
  position: relative;
  zoom: 1;
  width: 100%;
}

.container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 1em;
  max-width: $container-width;
  text-align: center;
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $dude-dark-blue;
  @include opacity($overlay-opacity);
  &.fixed { position: fixed; }
}


//////////////////////////////////////////////////
//
// Navigation
//
//////////////////////////////////////////////////
#navigation {
  border: none;
  padding: $nav-padding 0;
  z-index: 100;
  overflow: visible;
  a { color: $nav-item-color; }
}

#user-logo {
  width: auto;
  height: $nav-height;
  float: left;
  max-width: 15em;
}

#navigation-items {
  position: relative;
  float: right;
}


//////////////////////////////////////////////////
//
// Jumbotron
//
//////////////////////////////////////////////////
#jumbotron {
  padding: 3em 0;
  h1, h4 { color: #FFF; }
}


//////////////////////////////////////////////////
//
// Tagline
//
//////////////////////////////////////////////////
#tagline {
  padding: 2em 0;
  background: #FFF;
  h4 { color: $tubular-text; }
}


//////////////////////////////////////////////////
//
// Media Queries
//
//////////////////////////////////////////////////
@media (max-width: 767px) {

  .button-default {
    padding: 1em;
    display: block;
  }

  .button-nav {
    width: 100%;
    padding: 1em 0;
    margin-top: 1em;
    line-height: normal;
  }

  #hamburger-icon {
    display: block;
    padding: 0;
    line-height: normal;
  }

  #navigation-items {
    width: 100%;
  }
}


//////////////////////////////////////////////////
//
// Utilities
//
//////////////////////////////////////////////////
.hidden {
  display: none;
}