/*////////////////////////////////////////////////
//
// Mixins
//
////////////////////////////////////////////////*/
@mixin opacity($value: 0.5) {
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" $value * 100 ")";
  filter: alpha(opacity=$value * 100);
  zoom: 1;
}

@mixin inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

@mixin pointer-cursor {
  cursor: pointer;
  *cursor: hand;
  zoom: 1;
}


/*////////////////////////////////////////////////
//
// Variables
//
////////////////////////////////////////////////*/

// Sam's Colors
$bitchin-blue:            #1699E3;
$dude-dark-blue:          #2E3840;
$gnarly-green:            #7FB22E;
$yeah-bro-yellow:         #E7B122;
$radical-red:             #DC401C;
$grom-grey:               #F4F4F4;
$tubular-text:            #46484A;
$light-grey:              #B0B0B0;


$sans-serif:              "Lato", sans-serif;
$icon-font:               "SS Standard";
$color-default:           $tubular-text;
$container-width:         60em;
$nav-height:              3em;
$nav-padding:             1em;
$overlay-opacity:         0.5;


//////////////////////////////////////////////////
//
// Typography
//
//////////////////////////////////////////////////
html, body { background: #EEE; }

html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  font-family: $sans-serif;
  color: $color-default;
  line-height: 1.4;
}

h1, h2, h3, p, li, a, .pure-button {
  margin: 0;
  color: $color-default;
  font-weight: 300;
  strong { font-weight: 600; }
}

h1 { font-size: 2.5em; }
h2 { font-size: 1.875em; }
h3 { font-size: 1em; font-weight: 400; }
p { margin-bottom: 1.5em; }
p, li, .pure-button { font-size: 1.5em; }
em { font-style: italic; }
li { margin-bottom: 0.5em; }
ul, ol {
  margin-bottom: 2em;
  text-align: left;
}
img { display: block; }


//////////////////////////////////////////////////
//
// Buttons
//
//////////////////////////////////////////////////
.pure-button {
  border: none;
  box-shadow: none;
  &:focus, &:hover, &:active {
    border: none;
    box-shadow: none;
  }
}

.button-default {
  position: relative;
  font-weight: 400;
  padding: 1em 4em;
  white-space: normal;
  strong { font-weight: 700; }
}

.button-nav,
#hamburger-icon {
  font-size: 1em;
  font-weight: 400;
  padding: 0 1em;
  line-height: $nav-height;
  margin: 0;
  background: transparent;
  strong { font-weight: 700; }
}

#hamburger-icon {
  position: relative;
  float: right;
  top: 6px;
  display: none;
  font-family: $icon-font;
  line-height: $nav-height;
  font-size: 2em;
  font-style: normal;
}


//////////////////////////////////////////////////
//
// Containers
//
//////////////////////////////////////////////////
.section {
  position: relative;
  overflow: hidden;
  zoom: 1;
  width: 100%;
}

.container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 1em;
  max-width: $container-width;
  text-align: center;
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: red;
  @include opacity($overlay-opacity);
  &.fixed { position: fixed; }
}


//////////////////////////////////////////////////
//
// Navigation
//
//////////////////////////////////////////////////
#navigation {
  border: none;
  padding: 1em 0;
}

#user-logo {
  width: auto;
  height: $nav-height;
  float: left;
  max-width: 15em;
}

#navigation-items {
  position: relative;
  float: right;
}


//////////////////////////////////////////////////
//
// Media Queries
//
//////////////////////////////////////////////////
@media (max-width: 767px) {

  .button-default {
    padding: 1em;
    display: block;
  }

  .button-nav {
    width: 100%;
    padding: 1em 0;
    margin-top: 1em;
    line-height: normal;
  }

  #hamburger-icon {
    display: block;
    padding: 0;
    line-height: normal;
  }

  #navigation-items {
    width: 100%;
  }
}


//////////////////////////////////////////////////
//
// Utilities
//
//////////////////////////////////////////////////
.hidden {
  display: none;
}